<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/memo.css">
  </head>
  <body>
    <!-- begin header -->
    <header>
      <div class="leftArea">
        <button id="newMemoBtn">╉</button>
      </div>
      <div class="rightArea">
        <button class="memoSettingBtn" id="memoSettingBtn"></button>
        <button id="closeBtn">Ｘ</button>
      </div>
    </header>
    <!-- end header -->

    <section>
      <textarea id="contentArea"></textarea>
    </section>

    <!-- begin footer -->
    <footer>

    </footer>
    <!-- end footer -->

  </body>
</html>
